<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container">
    <div class="row row-header">
        <div class="col-md-4 col-md-offset-3">
            <h2>
                Games
            </h2>
        </div>
        <div  th:if="${games.size() > 0}" class="col-md-3 col-md-offset-3 header-align-end">
            <form th:action="@{/p/game}" method="get">
                <input class="btn btn-link" type="submit" value="Create a new game">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div th:if="${games.size() == 0}">
                There are no existing games. <a th:href="@{/p/game}">Create a new one !</a>
            </div>
            <div class="list-group">
                <a th:each="game : ${games}" th:href="@{/p/game(gameId=${game.id})}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${game.name}">Nouvelle partie</h5>
                        <span th:if="${game.numberOfPlayers - game.players.size()} == 0" class="badge badge-pill badge-secondary" th:text="Started + ' ' + ${game.numberOfPlayers} + ' ' + players">Started</span>
                        <span class="badge badge-pill badge-primary" th:if="${game.numberOfPlayers - game.players.size()} > 0">
                            <span>Open</span>
                            <span th:text="${game.players.size()}">1</span>/<span th:text="${game.numberOfPlayers}">2</span>&nbsp;<span>players</span>
                        </span>
                    </div>
                    <small th:text="'Created: ' + ${#temporals.format(game.creationDate, 'dd/MM HH:mm')}">07/06/2020 10h00</small>
                </a>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>